<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/board/create" method="post">

        <label for="">제목</label> <br>
        <input type="text" name="title"> <br>
            <!-- name 을 데이터베이스랑 맞춰야 함 -->

        <label for="">설명 콘텐츠</label> <br>
        <input type="text" name="content"> <br>
        
        <label for=""> 회원가입 미완료~ 임시로 userID 기재 하세요~ | 앵간하면 그냥 숫자로 합시다. </label> <br>
        <input type="text" name="userID"> <br>

        <button>생성</button>

    </form>



</body>
</html>