<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1> 로그인 </h1>

    <form action="/login/verify" method="post">

        <label for="">로그인</label>
        <input type="text" name="user_id">

        <label for="">비밀번호</label>
        <input type="text" name="user_pw">

        <button>로그인 시도</button>

    </form>



</body>
</html>