/* 여기에서 합친 css 수정해주기 */

/* header */
.header {
  display: flex;

  height: 80px;
  align-items: center;

  /* 검색창 오른쪽으로 가게 할 때, 이렇게 해도 됨 */
  /* justify-content : space-between; */

  /* 여백 확보 */
  padding: 0 1rem;
}

/* 검색 */
.search-container {
  display: flex;
  height: 3rem;
  margin-left: auto;

  /* 너비 조절은 container 에서⭐⭐ */
  width: 240px;
  max-width: 60%;
}

.main {
  padding: 1rem;
}

.sidebar {
  padding: 1rem;
}

.sidebar-left {
  background: white;
}

.sidebar-right {
  color: white;
  background: #666;
}

.footer {
  padding: 1rem;
  text-align: center;
}

@media (min-width: 1024px) {

  .page{ 
    display : flex;
    flex-wrap : wrap;
  }

  .header {
    width : 100%
  }

  .menu-container {
    width : 100%
  }

  .sidebar { 
    width : 20% 
  }

}
