<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<form action="/board/content/<%= data.id %> " method="post">

    <table>

        <tr>
            <th>id</th>
            <th>제목</th>
            <th>콘텐츠</th>
        </tr>

        
        <tr>
            <td> <%= data.id %> </td>

            <td>
                <input type="text" name="title" value="<%= data.title %>">
            </td>

            <td>
                <input type="text" name="content" value="<%= data.content %>">
            </td>

            <td>
                <button>수정완료</button>
            </td>

        </tr>



    </table>

</form>

    
</body>
</html>